<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:pages" content="1898971146892948">
    <meta property="og:title" content="Online Corpus - cyber security services, counter hacking and email protection">
    <meta property="twitter:title" content="Online Corpus">
    <meta property="twitter:description" content="Online email security solutions. We help you mitigate man in the middle and man in the email attacks">
    <meta property="twitter:image" content="https://onlinecorpus.com/img/email-protector-banner-hackers-away.jpg">
    <meta property="twitter:card" content="https://onlinecorpus.com/img/email-protector-banner-hackers-away.jpg">
    <meta property="twitter:site" content="@onlinecorpus">
    <meta property="twitter:creator" content="@_Georgi_Spasov_">
    <meta property="og:description" content="Online email security solutions. We help you mitigate man in the middle and man in the email attacks.">
    <meta property="og:image" content="https://onlinecorpus.com/img/email-protector-banner-hackers-away.jpg">
    <meta property="og:url" content="https://onlinecorpus.com">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Online Corpus provides the best and most affordable online email security solutions">
    <meta property="og:image:width" content="450"/>
    <meta property="og:image:height" content="298"/>
    
    <meta name="robots" content="index, follow">
    <title>{% if page.metaTitle %}{{ page.metaTitle | escape }}{% else %}{{ site.metaTitle | escape }}{% endif %}</title>
    <!-- <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> -->
    <meta name="description" content="{% if page.metaDescription %}{{ page.metaDescription | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{page.keywords}}{% endif %}">
    <link rel="dns-prefetch" href="///www.google.com">
    <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="/favicon.ico?" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/css/regular.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_8v3czwksspqlg14i.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/css/main.css " | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml " | prepend: site.baseurl | prepend: site.url }}">

{% if site.google_analytics_id %}
    <script>
    // google analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{site.google_analytics_id}}', 'auto');
      ga('send', 'pageview');

    </script>
{% endif %}

{% if page.mathjax %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: { inlineMath: [["$","$"],["\\(","\\)"]] },
    "HTML-CSS": {
      linebreaks: { automatic: true, width: "container" }
    }
});
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}
</head>


