<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">

   <div class="container pr-0">

   <!-- Begin Logo -->
   <a title="OnlineCorpus" class="navbar-brand" href="{{ site.baseurl }}/">
   <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
   </a>
   <!-- End Logo -->

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarMediumish">

       <!-- Begin Menu -->

           <ul class="navbar-nav ml-auto">

               {% if page.url == "/" %}
               <li class="nav-item active">
               {% else %}
               <li class="nav-item">
               {% endif %}
               <a title="Home" class="nav-link" href="{{ site.baseurl }}/">Home</a>
               </li>

               <li class="nav-item">
                   <a title="About" class="nav-link" href="{{ site.baseurl }}/about">About</a>
               </li>

               <li class="nav-item">
                   <div class="dropdown">
                       <button class="btn btn-sm btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Chose language
                       </button>
                       <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                         <a class="dropdown-item" hreflang="en-us" href="https://onlinecorpus.com">English</a>
                         <a class="dropdown-item" hreflang="bg" href="https://onlinecorpus.com/bg">Bulgarian</a>
                       </div>
                     </div>
               </li>

           </ul>

       <!-- End Menu -->

   </div>

   </div>
</nav>
<!-- End Navigation
================================================== -->